* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Ysabeau Office', sans-serif; */
    /* font-family: 'Ysabeau Office', sans-serif; */
    font-family: Open Sans;
}

.primary_color {
    color: #FD6E0A;
    ;
}

.head_nav_manu {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.head_nav_manu>h2 {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.head_ul_div {
    display: flex;
    list-style: none;
    text-align: center;
}

.head_ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_ul li {
    list-style: none;
    padding-right: 50px;
}

.head_ul li a {
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn_1 {
    width: 150px;
    height: 64px;
    border: 0px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 15px;
    /* padding: 10px; */
}



.profile_container {
    margin-top: 50px;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    /* background-image: url('../image/developer.png');
    background-position: no-repeat;
    background-position: top left; */
    background-image: url('../image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.profile_right_part {
    background-image: url('../image/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}


.profile_left_part>h4 {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile_left_part>h2 {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile_left_part>p {
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.btn_2 {
    width: 200px;
    height: 64px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    background: #FFF8F3;
    color: #FD6E0A;
    /* color: var(--white-color, #FFF); */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 15px;
}


.btn_2:hover {
    background-color: #FD6E0A;
    color: #FFF8F3;
}


.about_main_box {
    width: 1140px;
    height: 550px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    /* text-align: center; */
}

.About_heading {
    padding-top: 130px;
    text-align: center;
    /* border: 2px solid black; */
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about_p1 {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 70%;
    /* border: 2px solid black; */
}

.About_para {
    text-align: center;
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.About_info_box {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding-top: 35px;
}

.info_box p{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info_box h4{
    color: #181818;
    font-size: 18px;
    font-family: Open Sans;
    /* font-weight: bold; */
}